$primary-color: #F0CD5F;
$secondary-color: #142D87;
$tertiary-color: #ffffff;
$quaternary-color: #6E69C8;
$quinary-color: #5F50BE;

.card {
  background-color: $quaternary-color;
  color: $tertiary-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  padding: 1px;
  width: 100%;

  .card-content-wrapper {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .dot-icon {
    margin: 0;
  }

  .card-content {
    flex-grow: 1;
  }

  .card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .price-section {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .price-valid,
      .price {
        font-size: 1em;
        font-weight: bold;
      }

      .price {
        color: $primary-color;
        margin-left: 200px;
      }

      .original-price {
        text-decoration: line-through;
        font-size: 0.7em;
        color: $primary-color;
        font-weight: bold;
        margin: 2px 0 0 8px;
      }
    }

    .per-session-price {
      font-size: 0.9em;
      font-weight: bold;
    }
  }

  .card-pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .refund {
      font-size: 0.7em;
      margin-left: 45px;
    }

    .discount {
      background-color: $quinary-color;
      border-radius: 2px;
      padding: 2px 4px;
      font-size: 0.6em;
      font-weight: bold;
      margin-right: 145px;
    }

    .total-sessions {
      font-size: 0.7em;
      margin-right: 95px;
    }
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .card {
    padding: 8px;
    
    .card-header {
      flex-direction: column;
      align-items: flex-start;

      .price-section {
        margin-bottom: 8px;

        .price {
          margin-left: 50px;
        }

        .original-price {
          margin-left: 10px;
        }
      }

      .per-session-price {
        margin-bottom: 8px;
      }
    }

    .card-pricing {
      flex-direction: column;
      align-items: flex-start;

      .refund {
        margin-left: 0;
        margin-bottom: 8px;
      }

      .discount {
        margin-right: 0;
        margin-bottom: 8px;
      }

      .total-sessions {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    padding: 6px;

    .card-content-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    .card-header {
      .price-section {
        .price {
          margin-left: 30px;
        }

        .original-price {
          margin-left: 5px;
        }
      }
    }

    .card-pricing {
      .refund,
      .discount,
      .total-sessions {
        margin: 5px 0;
      }
    }
  }
}

@media (max-width: 480px) {
  .card {
    padding: 2px;

    .card-content-wrapper {
      padding: 4px;
      flex-direction: column;
      align-items: flex-start;
    }

    .card-header {
      .price-section {
        flex-direction: column;
        align-items: flex-start;

        .price {
          margin-left: 0;
          margin-top: 4px;
        }

        .original-price {
          margin-left: 0;
          margin-top: 2px;
        }
      }
    }

    .card-pricing {
      flex-direction: column;
      align-items: flex-start;

      .refund,
      .discount,
      .total-sessions {
        margin: 2px 0;
      }
    }
  }
}
