$primary-color: #F0CD5F;
$secondary-color: #142D87;
$tertiary-color: #ffffff;
$quaternary-color: #5F50BE;
$quinary-color: #d2cccc;
$hover-color: #5641A1;

.tabs-board-container {
  background-color: $quaternary-color;
  padding: 10px;
  color: $tertiary-color;
  width: 90%;
  margin: 10px auto 10px 100px;

  @media (max-width: 1200px) {
    width: 95%;
    margin-left: 50px;
  }

  @media (max-width: 992px) {
    width: 100%;
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 10px;
    margin: 10px auto;
    padding: 5px;
  }

  .tab-board-list {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    background-color: $quaternary-color;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 576px) {
      width: 90%;
    }

    .tab-board {
      flex: 1;
      text-align: center;
      padding: 6px 0;
      cursor: pointer;
      font-size: 0.7em;
      font-weight: bold;
      color: $quinary-color;
      border-radius: 20px;
      transition: background-color 0.3s;

      @media (max-width: 768px) {
        font-size: 0.8em;
      }

      &.active-tab {
        color: $tertiary-color;
        background-color: $secondary-color;
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .tab-board-content {
    margin-left: -150px;

    @media (max-width: 992px) {
      margin-left: -80px;
    }

    @media (max-width: 768px) {
      margin-left: -50px;
    }

    @media (max-width: 576px) {
      margin-left: 0;
    }

    .tab-board-pane {
      margin: 1px;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .board-content {
    .board-stats {
      font-size: 0.8em;
      display: flex;
      margin-bottom: 0;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      div {
        margin: 0 20px;
        text-align: left;

        @media (max-width: 768px) {
          margin: 10px 0;
          text-align: center;
        }

        strong {
          font-weight: 600;
          display: block;
        }

        .data-value {
          color: $primary-color;
          font-size: 2em;
          font-weight: bold;
        }
      }
    }

    .course-topics {
      margin-left: 15px;

      @media (max-width: 768px) {
        margin-left: 0;
      }

      h4 {
        font-size: 0.9rem;
        text-align: left;
        margin-bottom: 5px;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      .topics-columns {
        font-size: 0.8rem;
        font-weight: 400;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: center;
        }

        .topics-column {
          width: 30%;

          @media (max-width: 768px) {
            width: 80%;
          }

          div {
            margin: 2px 0;
            text-align: left;

            @media (max-width: 768px) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
