.tabs-board-container {
    background-color: #5F50BE;
    padding: 10px;
    color: #ffffff;
    width: 90%;
    margin: 10px auto;
    margin-left: 100px;
  
    .tab-board-list {
        width: 30%;
        display:flex;
        justify-content: flex-start;
        background-color: #5F50BE;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
  
        .tab-board {
            flex: 1;
            text-align: center;
            padding: 6px 0;
            cursor: pointer;
            font-size: 0.7em;
            font-weight: bold;
            color: #d2cccc;
            border-radius: 20px;
            transition: background-color 0.3s;
  
            &.active-tab {
                color: #ffffff;
                background-color: #142D87;
            }
  
            &:hover {
                background-color: #5641A1;
            }
            flex:1;
        }
    }
  
    .tab-board-content {
        margin-left: -150px;
  
        .tab-board-pane {
            margin: 1px;
            display: none;
  
            &.active {
                display: block;
            }
        }
    }

    .board-content {
        
        .board-stats {
            font-size: 0.8em;
            display: flex;
            margin-bottom: 0;

            div {
                margin: 0px 20px;
                text-align: left;

                strong {
                    font-weight: 600;
                    display: block;
                    text-align: left;
                }

                .data-value {
                    color: #F0CD5F;
                    font-size: 2em;
                    font-weight: bold;
                    text-align: left; 
                }
            }
        }

        .course-topics {
            margin-left: 15px;
            h4 {
                font-size: 0.9rem;
                text-align: left;
                margin-bottom: 5px;
            }

            .topics-columns {
                font-size: 0.8rem;
                font-weight: 400;
                display: flex;
                justify-content: space-between;

                .topics-column {
                    width: 30%;

                    div {
                        margin: 2px 0;
                        text-align: left; 
                    }
                }
            }
        }
    }
}
