.tabs-container {
  background-color: #5F50BE;
  border-radius: 15px;
  padding: 10px;
  color: #ffffff;
  width: 80%;
  margin: 10px auto;

  .tab-list {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    background-color: #5F50BE;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;

    .tab {
      flex: 1;
      text-align: center;
      padding: 6px 0;
      cursor: pointer;
      font-size: 0.9em;
      font-weight: bold;
      color: #d2cccc;
      background-color: #5F50BE;
      transition: background-color 0.3s;

      &.active-tab {
        color: #ffffff;
        background-color: #142D87;
      }

      &:hover {
        background-color: #5641A1;
      }

      &:first-child {
        border-radius: 20px;
      }

      &:last-child {
        border-radius: 20px;
      }
    }
  }

  .tab-content {
    margin-top: -50px;

    .tab-pane {
      margin: 1px;
      display: none;

      &.active {
        display: block;
      }
    }
  }

}
