$primary-color: #F0CD5F;
$secondary-color: #142D87;
$tertiary-color: #ffffff;

.yearly-tab {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    max-width: 900px;
  }

  @media (max-width: 800px) {
    padding: 10px;
    max-width: 500px;
  }

  @media (max-width: 480px) {
    padding: 5px;
    max-width: 100%;
  }

  .tab-container {
    margin-left: 20px;
    margin-top: -50px;

    @media (max-width: 800px) {
      margin-left: 15px;
      margin-top: -25px;
    }

    @media (max-width: 480px) {
      margin-left: 5px;
      margin-top: -15px;
    }
  }

  footer {
    width: 104%;
    margin-left: -30px;
    margin-bottom: -31px;
    padding: 20px;
    background-color: $secondary-color;
    border-radius: 20px;
    color: $tertiary-color;
    text-align: center;

    @media (max-width: 1024px) {
      width: 103%;
      margin-left: -15px;
      margin-bottom: -15px;
    }

    @media (max-width: 800px) {
      margin-left: -20px;
      margin-bottom: -20px;
      padding: 8px;
    }

    @media (max-width: 480px) {
      margin-left: 0px;
      margin-bottom: 0px;
      padding: 10px;
    }

    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
      gap: 0;

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;

        @media (max-width: 800px) {
          flex-direction: column;
          align-items: flex-start;
        }

        &.top-row {
          .filling-out-soon,
          .discount-info {
            font-size: 0.7rem;
            font-weight: bold;
            border-radius: 3px;
            background-color: $tertiary-color;
            color: $secondary-color;
            padding: 2px;
          }

          .discount-info {
            margin-right: 685px;

            @media (max-width: 1024px) {
              margin-right: 300px;
            }

            @media (max-width: 800px) {
              margin-right: 0;
              margin-bottom: 10px;
            }

            @media (max-width: 480px) {
              margin-bottom: 5px;
            }
          }
        }

        &.middle-row {
          .vacant-seats,
          .subscription-cost,
          .book-now-button {
            font-weight: bold;
            margin: 0;
            padding: 0;
          }

          strong {
            color: $primary-color;
          }

          .subscription-cost {
            display: flex;
            align-items: center;
            margin-right: 231px;

            @media (max-width: 1024px) {
              margin-right: 50px;
            }

            @media (max-width: 800px) {
              margin-right: 0;
            }

            .original-price {
              margin-left: 4px;
              margin-top: 3px;
              color: $primary-color;
              font-size: 0.7rem;
              text-decoration: line-through;
            }

            .discounted-price {
              color: $primary-color;
            }

            .book-now-button {
              background-color: $primary-color;
              border: none;
              color: $secondary-color;
              padding: 7px 10px;
              margin-left: 205px;
              border-radius: 20px;
              cursor: pointer;
              font-size: 0.7rem;
              font-weight: 400;

              @media (max-width: 1024px) {
                margin-left: 100px;
              }

              @media (max-width: 800px) {
                margin-left: 0;
                margin-top: 10px;
              }

              @media (max-width: 480px) {
                margin-top: 5px;
              }
            }
          }
        }

        &.bottom-row {
          .info-text,
          .cost-inclusive {
            font-size: 0.7rem;
            display: block;
            margin-top: -5px;
          }

          .cost-inclusive {
            margin-right: 567px;

            @media (max-width: 1024px) {
              margin-right: 200px;
            }

            @media (max-width: 800px) {
              font-size: 0.6rem;
              margin-right: 10px;
              margin-top: 10px;
            }

            @media (max-width: 480px) {
              margin-right: 0;
              margin-top: 5px;
            }
          }
        }

        &.per-session-row {
          .per-session-cost {
            font-size: 0.7rem;
            text-align: center;
            margin-right: 156px;
            width: 100%;

            @media (max-width: 1024px) {
              margin-right: 80px;
            }

            @media (max-width: 800px) {
              margin-right: 0;
            }

            @media (max-width: 480px) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .tablet-guarantee-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 35px;
      padding: 10px 0;
      font-size: 0.9em;

      .tablet-offer {
        text-align: left;
        margin: 0;
      }

      .guarantee {
        text-align: right;
        margin: 0;
        font-size: 0.7rem;

        a {
          color: $tertiary-color;
          text-decoration: underline;
        }
      }
    }
  }
}
