/* YearlyTab.scss */
.yearly-tab {
    width: 100%;
    max-width: 1200px; 
    margin: 0;
    padding: 20px; 
    box-sizing: border-box; 

    .tab-container{
        margin-left: 20px;
        margin-top: -50px;
    }
  }
  